{% load compress staticfiles i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'less/base.less' %}"
          media="all" type="text/less">
    {% endcompress %}
  </head>
  <body>
    <div id="topnav">
      <div class="content">
        <div class="topnav-mainnav">
          <h1 id="topnav-title">
            {% block title %}
            {% if project %}
            {{ project.title }}
            {% else %}
            Open Thyng Site
            {% endif %}
            {% endblock %}
          </h1>
          <ul id="topnav-context">
            {% if project %}
            {% for nav_entry in project.nav_entries %}
            {% if not nav_entry.roles or membership.role in nav_entry.roles %}
            <li><a href="{{ nav_entry.href }}">{{ nav_entry.title }}</a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            <li>
              <a href="">
                {% blocktrans %}People{% endblocktrans %}
              </a>
            </li>
            <li>
              <a href="">
                {% blocktrans %}Projects{% endblocktrans %}
              </a>
            </li>
            <li>
              <a href="">
                {% blocktrans %}Start a Project{% endblocktrans %}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div id="topnav-tab">
          <a href="{% url 'home' %}">
            {% blocktrans %}OpenThyng{% endblocktrans %}
          </a>
          <hr>
          <div class="user-menu">
            {% if request.user.is_anonymous %}
            <a href="{% url 'auth_login' %}">{% blocktrans %}Sign In{% endblocktrans %}</a>
            <a href="{% url 'registration_register' %}">{% blocktrans %}Create an Account{% endblocktrans %}</a>
            {% else %}
            {{ request.user }}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
