@background-color: #332F2A;
@background-accent-color: #4D4945;
@brand-color: #6BA12A;
@secondary-color: #EB852B;
@secondary-accent-color: #B36521;

body {
  margin: 0;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 12px;
}

h1, h2, h3 {
  font-family: Arial, sans-serif;
  font-weight: normal;
  margin: 0;
}

div {
  box-sizing: border-box;
}

#topnav {
  height: 80px;
  background: @background-color;
  border-top: 5px solid @background-accent-color;  
  color: white;

  h1 {
    margin-top: 15px;
    font-size: 32px;
    line-height: 0.75em;
    letter-spacing: -0.0325em;
    font-weight: normal;
  }

  #topnav-title {
    width: 69%;
    display: inline-block;
  }

  #topnav-tab {
    width: 30%;
    vertical-align: top;
    background: @background-accent-color;
    min-height: 75px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    position: relative;

    a {
      color: white;
      text-decoration: none;
    }
    hr {
      margin: 5px 0;
      color: @background-accent-color;
      border-bottom: 1px dotted #ccc;
    }
    div > a {
      text-transform: lowercase;
      font-size: 10px;
    }

    .user-menu {
      position: absolute;
      right: 5px;
      bottom: 5px;
    }
  }
}

#main {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  width: 100%;
  background: #F9F9F9;
  border-top: 2px solid #E6D3C0;
  padding: 10px;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 15px;
  
  h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: normal;
  }
}

.banana {
  .box;
  border: 1px solid @secondary-color;

  h2 {
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px dotted @secondary-color;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .button {
    background: @secondary-color;
    border: 1px solid @secondary-accent-color;
    border-right: 2px solid @secondary-accent-color;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 5px 15px;
    max-width: 55%;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
  }
   
}

.projects {
  
  h2 {
    margin: 0;      
    background: @background-color;
    color: white;
    font-weight: normal;
    padding: 5px;
    font-size: 16px;
    letter-spacing: -0.5px;
  }
  
  .project {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 10px;
    border-bottom: 1px dotted @background-color;
    
    &:last-child {
      border-bottom: 2px solid @background-color;
    }
    
    > img {
      width: 75px;
      height: 75px;
      vertical-align: top;
    }

    > div {
      display: inline-block;
    }
    
    a,
    a:visited,
    a:link {
      display: block;
      color: @brand-color;
      font-weight: bold;
      font-size: 18px;
      vertical-align: top;

      &:hover {
        color: @secondary-color;
      }
    }
  }
  
}

.news {
  min-width: 200px;

  h2 {
    margin: 0;
    background: @brand-color;
    border-bottom: 2px solid @background-color;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: -0.5px;
  }
}

@media screen {
  #topnav-tab {
    display: none;
  }
  .left {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .right {
    flex-basis: 100%;
  }
  .projects {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

form {
  th {
    padding-left: 25px;
    label {
      font-weight: bold;
    }
  }
  input {
    height: 20px;
  }
  label[for=persistent] {
    vertical-align: top;
    padding-top: 4px;
    display: inline-block;
  }
}

@media screen and (min-width: 400px) {
  #topnav-tab {
    display: inline-block;
  }
}

@media screen and (min-width: 740px) {
  .content {
    margin: 0 50px;
  }
  .left {
    flex-basis: 68%;
  }
  .right {
    flex-basis: 30%;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    max-width: 950px;
    margin: 0 auto;
  }
  .projects {
    flex-basis: 49%;
  }
}
