{% load compress staticfiles i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'less/base.less' %}"
          media="all" type="text/less">
    {% endcompress %}
  </head>
  <body>
    <div id="topnav">
      <div class="content">
        <h1 id="topnav-title">
          {% block title %}
          Open Thyng Site
          {% endblock %}
        </h1>
        <div id="topnav-tab">
          <a href="{% url 'home' %}">OpenThyng</a>
          <hr>
          <div class="user-menu">
            <a href="{% url 'auth_login' %}">{% blocktrans %}Sign In{% endblocktrans %}</a>
            <a href="{% url 'registration_register' %}">{% blocktrans %}Create an Account{% endblocktrans %}</a>            
          </div>
        </div>
      </div>
    </div>
    <div id="main" class="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
